.phone-item {
  margin: 10px 5px 10px 5px;
  font-size: 80%;
}

.picture {
  border: 0px;
}

.phone-fee {
  margin: 10px 5px 10px 5px;
  font-size: 120%;
}

.features {
  margin: 10px 00px 10px 00px;
  font-size: 75%;
}
